# misc
.DS_Store

# playwright
packages/playwright/lib
packages/playwright/node_modules
packages/playwright/tmp.README.md

# examples
examples/playwright-demo/package-lock.json
examples/playwright-demo/node_modules
examples/playwright-demo/test-results
examples/playwright-demo/playwright-report
examples/playwright-demo/playwright/.cache
